In [1]:
#Q.try~except 구문을 이용하여 나누기 프로그램을 만드시오
try:
    x=int(input('분자의 숫자를 입력하시오'))
    y=int(input('분모의 숫자를 입력하시오'))
    print(x/y)
except ZeroDivisionError: #분모에 0을 입력했을 때 수행
    print('0으로 나눌 수 없습니다.') 
except: #except하고 아무것도 안쓰면 zerodivisionerror말고 다른 모든 에러는 여기서 수행
    print('잘못된 값을 입력하셨습니다.')

분자의 숫자를 입력하시오10
분모의 숫자를 입력하시오0
0으로 나눌 수 없습니다.

In [2]:
#Q.숫자를 물어보게하고 숫자를 입력하면 해당 숫자만큼 1부터 숫자가 출력되는 코드를 작성하시오
num=int(input('숫자를 입력하세요'))
for i in range(1,num+1):
    print(i)

숫자를 입력하세요5
1
2
3
4
5

In [4]:
#Q.위의 코드에 예외처리를 해서 문자를 입력하면 잘못된 값을 입력하셨습니다. 라고 메세지가 출력되게하시오
try:
    num=int(input('숫자를 입력하세요'))
    for i in range(1,num+1):
        print(i)
except:
    print('잘못된 값을 입력하셨습니다.')

숫자를 입력하세요ㄴ
잘못된 값을 입력하셨습니다.

In [5]:
#Q.에러가 난 이유가 함께 나오도록 코드를 작성하시오
try:
    num=int(input('숫자를 입력하세요'))
    for i in range(1,num+1):
        print(i)
except Exception as e:
    print('잘못된 값을 입력하셨습니다.')
    print(e)

숫자를 입력하세요ㅏ
잘못된 값을 입력하셨습니다.
invalid literal for int() with base 10: 'ㅏ'

In [6]:
#Q.판다스를 이용해서 데이터를 로드하고 이름을 물어보고 해당 값을 소문자로 입력해도 해당 사원의 월급이 출력되게하시오
#불필요한 결과들 안나오고 월급만 출력되게하시오
name=input('이름을 입력하세요')
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
result=emp['sal'] [emp['ename']==name.upper()].values[0]
print(result)

이름을 입력하세요scott
3000

In [7]:
#Q.판다스를 이용해서 사원의 이름을 입력받고 월급이 3000이상인 사원들의 월급은 볼 수 없다는 메시지가 나오게 하시오
name=input('이름을 입력하세요')
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
result=emp['sal'] [emp['ename']==name.upper()].values[0] #조건을 sal에 1개만 주니까 출력할 컬럼에 sal만 작성
if result>=3000:
    raise Exception('해당 사원의 월급은 볼 수 없습니다.') #해당하면 에러나면서 밑의 코드들 실행하지않고 끝내버림
print(emp[['ename','sal']] [emp['ename']==name.upper()]) #출력은 ename, sal 둘 다 출력

이름을 입력하세요king

Exception: 해당 사원의 월급은 볼 수 없습니다.

In [8]:
#Q.없는 사원의 이름을 입력하면 해당 사원은 없습니다 라는 메세지가 출력되게하시오
try:
    name=input('이름을 입력하세요')
    import pandas as pd
    emp=pd.read_csv("d:\\data\\emp3.csv")
    result=emp['ename'][emp['ename']==name.upper()].values[0] #values[0]을 사용하면 컬럼이 아니라 값으로 출력이 되어서 result에 담기게 됨
    print(emp[['ename','sal']] [emp['ename']==result]) #없는 사원이름을 입력하면 result에 담기지 않아서 검색이 안되어 LookupError예외처리가 됩니다.
except LookupError:
    print('해당 사원은 없습니다.')

이름을 입력하세요jack
해당 사원은 없습니다.

In [9]:
#Q.직업을 물어보고 해당 사원의 이름,직업,월급을 출력하는데 없는 직업을 입력하면 해당 직업은 사원테이블에 없습니다.
#라는 메세지가 출력되게 하시오
try:
    job=input('직업을 입력하세요')
    import pandas as pd
    emp=pd.read_csv("d:\\data\\emp3.csv")
    result=emp['job'][emp['job']==job.upper()].values[0] #values[0]을 사용하면 컬럼이 아니라 값으로 출력이 되어서 result에 담기게 됨
    print(emp[['ename','job','sal']] [emp['job']==result]) #없는 사원이름을 입력하면 result에 담기지 않아서 검색이 안되어 LookupError예외처리가 됩니다.
except LookupError:
    print('해당 직업은 사원 테이블에 없습니다.')

직업을 입력하세요cook
해당 직업은 사원 테이블에 없습니다.

In [ ]:
#자료형 이해하기
numdata=57
print(type(numdata)) #<class 'int'>

numdata2=57.2
print(type(numdata2)) #<class 'float'>

a=[1,2,3,4]
print(type(a)) #<class 'list'>

a = {'apple':'사과', 'banana':'바나나', 'peach':'복숭아', 'pear':'배'}
print(type(a)) #<class 'dict'>

In [10]:
#Q.두개의 숫자를 각각 물어보게하고 아래의 메세지가 출력되게 하시오
num1=int(input('첫번째 숫자를 입력하세요'))
num2=int(input('두번째 숫자를 입력하세요'))
result=num1%num2
print('{}을 {}으로 나누면 {}가 나머지로 남습니다.'.format(num1,num2,result))

첫번째 숫자를 입력하세요1113
두번째 숫자를 입력하세요29
1113을 29으로 나누면 11가 나머지로 남습니다.

In [11]:
#Q.위의 나누기를 다시 하는데 몫과 나머지를 함께 출력되게 하시오. 0을 입력하면 0으로는 나눌 수 없다고 출력되게하시오
try:
    num1=int(input('첫번째 숫자를 입력하세요'))
    num2=int(input('두번째 숫자를 입력하세요'))
    result1,result2=divmod(num1,num2)
    print('{}을 {}으로 나눈 몫은 {}이고 나머지는 {}입니다.'.format(num1,num2,result1,result2))
except ZeroDivisionError: #분모에 0을 입력했을 때 수행
    print('0으로 나눌 수 없습니다.')

첫번째 숫자를 입력하세요1113
두번째 숫자를 입력하세요0
0으로 나눌 수 없습니다.

In [12]:
#Q.dept3 테이블을 판다스로 로드하시오
import pandas as pd
dept=pd.read_csv("d:\\data\\dept3.csv")
print(dept)

   deptno       dname       loc
0      10  ACCOUNTING  NEW YORK
1      20    RESEARCH    DALLAS
2      30       SALES   CHICAGO
3      40  OPERATIONS    BOSTON

In [13]:
#Q.부서위치가 DALLAS의 부서번호와 부서명을 출력하시오
import pandas as pd
dept=pd.read_csv("d:\\data\\dept3.csv")
print(dept[['deptno','dname']][dept['loc']=='DALLAS'])

   deptno     dname
1      20  RESEARCH

In [14]:
#emp3.csv와 dept3.csv 조인하여 이름, 부서위치를 출력하기
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
dept=pd.read_csv("d:\\data\\dept3.csv")
result=pd.merge(emp, dept, on='deptno' )
print(result)
print(result[['ename', 'loc' ]])

    index  empno   ename        job     mgr         hiredate   sal    comm  \
0       1   7839    KING  PRESIDENT     NaN  1981-11-17 0:00  5000     NaN
1       3   7782   CLARK    MANAGER  7839.0  1981-05-09 0:00  2450     NaN
2      14   7934  MILLER      CLERK  7782.0  1982-01-11 0:00  1300     NaN
3       2   7698   BLAKE    MANAGER  7839.0  1981-05-01 0:00  2850     NaN
4       5   7654  MARTIN   SALESMAN  7698.0  1981-09-10 0:00  1250  1400.0
5       6   7499   ALLEN   SALESMAN  7698.0  1981-02-11 0:00  1600   300.0
6       7   7844  TURNER   SALESMAN  7698.0  1981-08-21 0:00  1500     0.0
7       8   7900   JAMES      CLERK  7698.0  1981-12-11 0:00   950     NaN
8       9   7521    WARD   SALESMAN  7698.0  1981-02-23 0:00  1250   500.0
9       4   7566   JONES    MANAGER  7839.0  1981-04-01 0:00  2975     NaN
10     10   7902    FORD    ANALYST  7566.0  1981-12-11 0:00  3000     NaN
11     11   7369   SMITH      CLERK  7902.0  1980-12-09 0:00   800     NaN
12     12   7788   SCOTT    ANALYST  7566.0  1982-12-22 0:00  3000     NaN
13     13   7876   ADAMS      CLERK  7788.0  1983-01-15 0:00  1100     NaN

    deptno       dname       loc
0       10  ACCOUNTING  NEW YORK
1       10  ACCOUNTING  NEW YORK
2       10  ACCOUNTING  NEW YORK
3       30       SALES   CHICAGO
4       30       SALES   CHICAGO
5       30       SALES   CHICAGO
6       30       SALES   CHICAGO
7       30       SALES   CHICAGO
8       30       SALES   CHICAGO
9       20    RESEARCH    DALLAS
10      20    RESEARCH    DALLAS
11      20    RESEARCH    DALLAS
12      20    RESEARCH    DALLAS
13      20    RESEARCH    DALLAS
     ename       loc
0     KING  NEW YORK
1    CLARK  NEW YORK
2   MILLER  NEW YORK
3    BLAKE   CHICAGO
4   MARTIN   CHICAGO
5    ALLEN   CHICAGO
6   TURNER   CHICAGO
7    JAMES   CHICAGO
8     WARD   CHICAGO
9    JONES    DALLAS
10    FORD    DALLAS
11   SMITH    DALLAS
12   SCOTT    DALLAS
13   ADAMS    DALLAS

In [15]:
#Q.DALLAS에서 근무하는 사원들의 이름과 부서위치를 출력하시오
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
dept=pd.read_csv("d:\\data\\dept3.csv")
result=pd.merge(emp,dept,on='deptno')
print(result[['ename', 'loc' ]] [result['loc']=='DALLAS'])

    ename     loc
9   JONES  DALLAS
10   FORD  DALLAS
11  SMITH  DALLAS
12  SCOTT  DALLAS
13  ADAMS  DALLAS

In [16]:
#Q.월급이 3000이상인 사원들의 이름, 월급, 부서위치를 출력하시오
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
dept=pd.read_csv("d:\\data\\dept3.csv")
result=pd.merge(emp,dept,on='deptno')
print(result[['ename','sal','loc']] [result['sal']==3000])

    ename   sal     loc
10   FORD  3000  DALLAS
12  SCOTT  3000  DALLAS

In [17]:
#Q.부서번호가 10번, 20번인 사원들의 이름, 부서위치, 부서번호를 출력하시오
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
dept=pd.read_csv("d:\\data\\dept3.csv")
result=pd.merge(emp,dept,on='deptno')
print(result[['ename','loc','deptno']] [result['deptno'].isin([10,20])])

     ename       loc  deptno
0     KING  NEW YORK      10
1    CLARK  NEW YORK      10
2   MILLER  NEW YORK      10
9    JONES    DALLAS      20
10    FORD    DALLAS      20
11   SMITH    DALLAS      20
12   SCOTT    DALLAS      20
13   ADAMS    DALLAS      20

In [18]:
#Q.월급이 1000애서 3000사이인 사원들의 이름, 월급, 부서위치를 출력하시오
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
dept=pd.read_csv("d:\\data\\dept3.csv")
result=pd.merge(emp,dept,on='deptno')
print(result[['ename','sal','loc']] [result['sal'].between(1000,3000) ])

     ename   sal       loc
1    CLARK  2450  NEW YORK
2   MILLER  1300  NEW YORK
3    BLAKE  2850   CHICAGO
4   MARTIN  1250   CHICAGO
5    ALLEN  1600   CHICAGO
6   TURNER  1500   CHICAGO
8     WARD  1250   CHICAGO
9    JONES  2975    DALLAS
10    FORD  3000    DALLAS
12   SCOTT  3000    DALLAS
13   ADAMS  1100    DALLAS

In [19]:
#위의 결과를 월급이 높은순부터 낮은순으로 정렬하시오
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
dept=pd.read_csv("d:\\data\\dept3.csv")
result=pd.merge(emp,dept,on='deptno')
result1=result[['ename','sal','loc']] [result['sal'].between(1000,3000) ]
print(result1.sort_values('sal',ascending=False))

     ename   sal       loc
10    FORD  3000    DALLAS
12   SCOTT  3000    DALLAS
9    JONES  2975    DALLAS
3    BLAKE  2850   CHICAGO
1    CLARK  2450  NEW YORK
5    ALLEN  1600   CHICAGO
6   TURNER  1500   CHICAGO
2   MILLER  1300  NEW YORK
4   MARTIN  1250   CHICAGO
8     WARD  1250   CHICAGO
13   ADAMS  1100    DALLAS

In [20]:
#Q.아래의 SQL을 Pandas로 구현하시오
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
dept=pd.read_csv("d:\\data\\dept3.csv")
result=pd.merge(emp,dept,how='right')
print(result[['ename','loc']])

     ename       loc
0     KING  NEW YORK
1    CLARK  NEW YORK
2   MILLER  NEW YORK
3    JONES    DALLAS
4     FORD    DALLAS
5    SMITH    DALLAS
6    SCOTT    DALLAS
7    ADAMS    DALLAS
8    BLAKE   CHICAGO
9   MARTIN   CHICAGO
10   ALLEN   CHICAGO
11  TURNER   CHICAGO
12   JAMES   CHICAGO
13    WARD   CHICAGO
14     NaN    BOSTON

In [21]:
#아래의 SQL을 Pandas로 구현하시오
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
dept=pd.read_csv("d:\\data\\dept3.csv")
result=pd.merge(emp,dept,how='outer')
print(result[['ename','loc']])

     ename       loc
0     KING  NEW YORK
1    CLARK  NEW YORK
2   MILLER  NEW YORK
3    BLAKE   CHICAGO
4   MARTIN   CHICAGO
5    ALLEN   CHICAGO
6   TURNER   CHICAGO
7    JAMES   CHICAGO
8     WARD   CHICAGO
9    JONES    DALLAS
10    FORD    DALLAS
11   SMITH    DALLAS
12   SCOTT    DALLAS
13   ADAMS    DALLAS
14     NaN    BOSTON

In [22]:
#다음의 SQL을 Pandas로 구현하시오
#select ename, sal from emp where sal>(select sal from emp where ename='JONES')
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
dept=pd.read_csv("d:\\data\\dept3.csv")
jsal=emp['sal'][emp['ename']=='JONES'].values[0] #values를 붙여줘야 컬럼이 아닌 하나의 값이 jsal에 담긴다
print(emp[['ename','sal']] [emp['sal']>jsal])

    ename   sal
0    KING  5000
9    FORD  3000
11  SCOTT  3000

In [23]:
#Q.아래의 서브쿼리를 Pandas로 구현하시오
#select ename, sal, from emp where job=(select job from emp where ename='SCOTT');
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
dept=pd.read_csv("d:\\data\\dept3.csv")
jsal=emp['job'][emp['ename']=='SCOTT'].values[0] 
print(emp[['ename','sal']] [emp['job']==jsal])

    ename   sal
9    FORD  3000
11  SCOTT  3000

In [24]:
#Q.아래의 서브쿼리를 Pandas로 구현하시오
#select ename, sal, from emp where job=(select job from emp where ename='SCOTT') and ename!='SCOTT';
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
dept=pd.read_csv("d:\\data\\dept3.csv")
jsal=emp['job'][emp['ename']=='SCOTT'].values[0] 
print(emp[['ename','sal']] [(emp['job']==jsal) & (emp['ename']=='SCOTT')])

    ename   sal
11  SCOTT  3000

In [25]:
#아래의 SQL을 판다스로 구현하시오
#select max(sal) from emp where deptno=20;
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
print(emp['sal'] [emp['deptno']==20].max())

3000

In [26]:
#아래의 SQL을 판다스로 구현하시오
#select min(sal) from emp where job='SALESMAN';
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
print(emp['sal'] [emp['job']=='SALESMAN'].min())

1250

In [27]:
#Q.emp12.csv를 판다스 데이터 프레임으로 만들어서 출력하고 우리반에서 최소 나이를 출력하시오
import pandas as pd
emp12=pd.read_csv("d:\\data\\emp12.csv")
print(emp12['AGE'].min())

24

In [28]:
#Q.아래의 SQL을 판다스로 구현하시오
#select max(sal) from emp group by job;
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
result=emp.groupby('job')['sal'].max().reset_index()
print(result)

         job   sal
0    ANALYST  3000
1      CLERK  1300
2    MANAGER  2975
3  PRESIDENT  5000
4   SALESMAN  1600

In [29]:
#Q.다음의 SQL을 판다스로 구현하시오
#select deptno, sum(sal) from emp group by deptno;
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
result=emp.groupby('deptno')['sal'].sum().reset_index()
print(result)

   deptno    sal
0      10   8750
1      20  10875
2      30   9400

In [30]:
#Q.다음의 SQL을 판다스로 구현하시오
#select deptno, sum(sal) from emp where deptno!=20 group by deptno;
import pandas as pd
emp=pd.read_csv("d:\\data\\emp3.csv")
result=emp.groupby('deptno')['sal'].sum().reset_index()
print(result[['deptno','sal']][result['deptno']!=20])

   deptno   sal
0      10  8750
2      30  9400

In [31]:
#Q.동전을 10번 던져서 0~10개의 앞면이 나올 확률을 한번에 출력하시오
def coin_prob(num):
    import random
    coin=['앞면','뒷면']
    cnt=0
    for k in range(1,10001):
        a=[]
        for i in range(1,11):
            a.append(random.choice(coin))
        if a.count('앞면')==num:
            cnt+=1
    return cnt/10000

for i in range(0,11):		        
    print("동전을 10번 던져서 {}개 앞면이 나올 확률 {}" .format(i,coin_prob(i)))

동전을 10번 던져서 0개 앞면이 나올 확률 0.0005
동전을 10번 던져서 1개 앞면이 나올 확률 0.0097
동전을 10번 던져서 2개 앞면이 나올 확률 0.0454
동전을 10번 던져서 3개 앞면이 나올 확률 0.1172
동전을 10번 던져서 4개 앞면이 나올 확률 0.2049
동전을 10번 던져서 5개 앞면이 나올 확률 0.2411
동전을 10번 던져서 6개 앞면이 나올 확률 0.2062
동전을 10번 던져서 7개 앞면이 나올 확률 0.117
동전을 10번 던져서 8개 앞면이 나올 확률 0.0448
동전을 10번 던져서 9개 앞면이 나올 확률 0.0108
동전을 10번 던져서 10개 앞면이 나올 확률 0.0002